

body{
  font-family: 'Open Sans', sans-serif;
}

#title{
  background-color: #f4f4f4;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.0rem;
  line-height: 1.5;
  padding: 5% 0 5% 0;
}

h2{
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   font-weight: bolder;
   line-height: 1;
}

h3{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-size: 1.2rem;
  font-weight: 500;
}

em{
  font-size: 1rem;
  font-weight: 700;
}

.container-fluid{
  padding: 3% 15% 4%;
}

.navbar{
  padding:0 0 4.5rem !important;
}

.nav-item{
  padding:0 15px;
}
/***** NAVBAR LINKS ABOUT PRICE ETC****/
.nav-link{
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.download-button{
  margin: 5% 3% 5% 0;
}

/****** TITLE IMAGE******/

.Phone-Image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/***********TABLE FEATURES***********/
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
}
.feature-box{
    text-align: center;
}

/************FONTAWESOME ICONS************/

.fa-check-circle{
   font-size: 4rem;
   color: #06623b;
   padding-bottom: 3%;
}

.fa-check-circle:hover{
  color: #649d66;
}

.fa-user-tie{
  font-size: 4rem;
  padding-bottom: 3%;
  color: #204051;
}

.fa-user-tie:hover{
  color: #3b6978;
}

.fa-bullseye{
  font-size: 4rem;
  padding-bottom: 3%;
  color: #ca5116;
}

.fa-bullseye:hover{
  color: #f9b384;
}

/*********TESTEMONIAL********/

#testimonials{
  text-align: center;
  background-color: #649d66;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image{
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

#press{
  text-align: center;
  background-color: #649d66;
  padding-bottom: 25px;
}

.press-image{
  width: 15%;
  margin: 30px;
}


/**********PRICING**********/

#pricing{
  text-align: center;
  padding: 100px;
}

.card{
  text-align: center;
  padding: 20px;
}

.Pricing-box{
  padding: 5% 3%;
}

.card-header{
  background-color: #f4f4f4;
}


/*Call to Action and Footer*/

#cta{
  background-color:#f4f4f4;
  text-align: center;
  padding: 5% 0;
}
.dld-button{
  margin: 2% 1%;
}

.footer{
  text-align: center;
  padding-top: 10px;
  margin: 0;
}

.social-icon{
  width: 25px;
  height: 25px;
  margin: 3% 1.5%;
}

.foot-para{
  font-size: 1rem;
  font-weight: 500;
}

/* MOBILE SIZING THE IMAGE */

@media(max-width: 1000px)
{
  .Phone-Image{
    transform: rotate(0deg);
    position: static;
    padding-top: 10px;
  }

  .container-fluid {
    padding-right:2%;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

  .navbar{
    padding: 0 0 3.5rem ;
  }

  #title{
    text-align: center;
  }

  .nav-link{
    text-align: left;
  }

  h1{
    font-size: 2.5rem;
    line-height: 1.5;
    padding: 5% 5% 5% 0;
  }

  h2{
     font-size: 2rem;
     font-weight: bolder;
     line-height: 1;
  }

  .card{
    padding: 10px;
  }

  #pricing{
    padding: 30px;
  }

  .cta-h{
    padding: 25px 15px;
    font-size: 1.8rem;
  }
}
